@font-face {
    font-family: Source Han Sans CN Medium;
    src: url('../assets/font/思源黑体CN-Medium.otf');
}

@font-face {
    font-family: Source Han Sans CN Normal;
    src: url('../assets/font/SourceHanSansSC-Normal.otf');
}

@font-face {
    font-family: Source Han Sans CN Light;
    src: url('../assets/font/SourceHanSansSC-Light.otf');
}

@font-face {
    font-family: SourceHanSerifCN;
    src: url('../assets/font/SourceHanSerifCN-Regular.otf');
}

@font-face {
    font-family: SourceHanSerifCN-2;
    src: url('../assets/font/SourceHanSerifCN-SemiBold.otf');
}

@font-face {
    font-family: YouSheBiaoTiHei;
    src: url('../assets/font/YouSheBiaoTiHei-2.ttf');
}

@font-face {
    font-family: 'PingFang SC';
    src: url('../assets/font/PingFang-SC-Regular.otf');
}

@font-face {
    font-family: '汉仪晓波花月圆';
    src: url('../assets/font/HanYiXiaoBoHuaYueYuan-Jian-2.ttf');
}

@font-face {
    font-family: 'Bodonitown';
    src: url('../assets/font/Bodonitown.ttf');
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/font/Futura-Regular-2.ttf');
}

@font-face {
    font-family: 'TrajanusBricks';
    src: url('../assets/font/TrajanusBricks-1.ttf');
}

@font-face {
    font-family: 'optima';
    src: url('../assets/font/optima-regular-1.ttf');
}

@font-face {
    font-family: 'Baskerville';
    src: url('../assets/font/Baskerville-Regular-6.ttf');
}